/* .🌈-font-color {
  display: inline-block;
  background-image: linear-gradient(
    90deg,
    #f79533 0%,
    #f37055 15%,
    #ef4e7b 30%,
    #a166ab 44%,
    #5073b8 58%,
    #1098ad 72%,
    #07b39b 86%,
    #6dba82 100%
  );
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
} */

.🌈-underline {
  span {
    background-image: url("../assets/img/spectrum-small.svg");
    background-repeat: repeat-x;
    background-size: 10em 0.15em;
    background-position: left bottom 5px;
  }
}

s {
  text-decoration-style: wavy; // double
  text-decoration-color: #ed553b;
}

.cards {
  // margin: 0;
  // padding: 5;
  > div {
    margin-bottom: 10px;
  }
}

body {
  // Vuetify dark theme 在移动端上下滑动触底时会有白边, body 背景色竟然没设置, 可怕
  background-color: #121212;
}

.license {
  text-decoration: none;
}
