@use "dark-legacy.standalone.min";

.portrait {
  display: none;
  float: left;
  img {
    margin: 0 auto;
  }
}

.ies-wrap {
  float: left;
  .ie {
    float: left;
    width: 50px;
    height: 50px;
    position: relative;
    padding: 10px;
    .say-no {
      width: 50px;
      height: 50px;
      position: absolute;
      left: 0;
      top: 0;
      padding: 10px;
    }
  }
}

@media (max-width: 500px) {
  .landscape {
    display: none;
  }
  .portrait {
    display: block;
  }
  .ies-wrap {
    width: 50px;
  }
}

.modern {
  div {
    display: inline-block;
    width: 50px;
    height: 50px;
  }
  .brave img {
    height: 100%;
  }
}

.made-in-china {
  color: black;
  background-color: black;
  padding: 5px;
  cursor: default;
  &:hover {
    color: #444;
  }
}
